fastapi==0.115.8
google_api_python_client==2.154.0
google_auth_oauthlib==1.2.1
openpyxl==3.1.5
protobuf==5.29.3
pydantic~=2.9.2
SQLAlchemy~=2.0.35
sqlmodel~=0.0.24
starlette==0.45.3
aiosqlite==0.21.0

uvicorn~=0.34.3
bcrypt~=4.3.0
python-jose~=3.5.0
google-api-python-client~=2.154.0
google-auth-oauthlib~=1.2.1

pydantic-settings~=2.10.1
itsdangerous~=2.2.0

python-multipart~=0.0.20

